body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-template-areas:
    "logo head side"
    "logo content side"
    "footer footer footer";
  grid-template-columns: 25% auto auto;
}

.title-head {
  grid-area: head;
  display: grid;
  height: 10vh;
  background-color: #008565 !important;
  font-size: 1rem;
  font-weight: 400;
}

.side {
  grid-area: side;
  display: grid;
  height: 10vh;
  background-color: #008565 !important;
}

h1 {
  color: white;
}

h3 {
  font-weight: 400;
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #008565 !important;
}

.logo > img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 0 0 8px;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

i {
  font-size: 0.75rem;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbox {
  height: 100px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #008565;
  height: 100%;
  border-radius: 0.25rem;
  background-color: unset;
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(0, 133, 101, 0.4);
}

input[type="file"].form-control[required]:valid {
  border: 1px solid #008565;
}

button[type="submit"] {
  height: 52px;
  font-size: 1.5rem;
  border: 2px solid rgb(0, 133, 101);
  border-radius: 0.2em;
  background-color: rgb(0, 133, 101);
  color: white;
}

.form-control {
  display: block;
  width: 330px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #495057;
  border-radius: 0.25rem;
}

.form-control[required] {
  border: 1px solid red;
}

select {
  box-sizing: unset;
}

select.form-control:valid {
  border: 1px solid #008565;
}

.error-message {
  color: rgb(211, 28, 28);
  font-size: 0.8rem;
}

.success-border {
  border-color: #008565 !important;
}

.error-border {
  border: 1px solid red;
}

footer {
  grid-area: footer;
  height: 44%;
  background-color: #5c666f;
  padding: 16px 32px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  text-decoration-color: transparent;
}

a:hover {
  text-decoration: underline !important;
  font-weight: 500;
}

.hover:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(0, 133, 101, 0.4);
}

.footer-links > a {
  color: black;
  font-size: 16px;
}

.t-black {
  color: black !;
}

.footer-links > a:visited {
  color: black;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-center {
  justify-content: center;
  align-items: center;
}

.d-column {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.p-32 {
  padding: 32px 0;
}

.w-96 {
  width: 96px;
}

.h-60 {
  height: 60px;
}

.align-center {
  align-items: center;
}

.margin-block {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.unset-margin {
  margin: 0;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.7rem !important;
  }
}

@media only screen and (max-width: 520px) {
  .grid {
    display: grid;
    grid-template-areas:
      "head"
      "logo"
      "content"
      "footer";
    grid-template-columns: auto;
  }

  main {
    margin: 0 10px 0 10px;
  }

  .side {
    grid-area: unset;
    height: unset;
  }

  .title-head,
  .logo {
    height: 5vh !important;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.2rem !important;
  }

  .form-control {
    width: 240px;
    margin: 0.25rem;
  }

  .footer-links > a {
    font-size: 0.75rem !important;
  }

  .margin-block {
    max-width: 95%;
  }
}
